.backgroundtopo{
    background-color: #042862;
}
.backgoundsubtop{
    background-color: #1351B4;
    
}
.logo{
    height: 300px;
}

.navbar-brand{
    margin: 0 10px;
}
.textsubtop{
    font-weight: 600;
    color: azure;
    position: relative;
    font-size: 30px;
    padding: auto;
    margin: auto;
}
.contlogin{
    padding: 2rem;
    margin: 1rem;
 
}
.login-box {
    border: 1px solid #b0c5db;
    border-radius: 0.5rem;
    margin:auto;
    padding: 3rem;
    width: 522px;
    height: 521px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px;
  }
  .container{
    border: 1px solid #b0c5db;
    border-radius: 0.5rem;
    margin:auto;
    padding: 3rem;
    width: 522px;
    height: 521px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px;
  }

.btn-primary{
    width: 412px;
    height: 56px;
    background: linear-gradient(222.98deg, #1351B4 5.41%, #0C416B 95.9%);
    ;
}
.btn-warning{
    width: 412px;
    height: 56px;
    background: linear-gradient(222.98deg, #FFCD07 5.41%, #BD9805 95.9%);

}

.btn-success{
    width: 412px;
    height: 56px;
    background: linear-gradient(222.98deg, #168821 5.41%, #024E0A 95.9%);

}

