{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <title>SIA-SEJUSC</title>
</head>
<body>
    <nav class="navbar navbar-dark backgoundsubtop">
        <div class="textsubtop">Portal do Cidadão</div>
      </nav>
      <div class="container">
        <h2>Bem Vindo</h2>

        <ul>
            <li>
                <a href="#"><button type="button" class="btn btn-primary">Consultar</button></a>
            </li>
            <li>
                <a href="#"><button type="button" class="btn btn-warning">Cadastro Psicossocial</button></a>
            </li>
            <li>
                <a href="#"><button type="button" class="btn btn-success">Cadastrp Idoso Empreendedor</button></a>
            </li>
        </ul>
          </div>
      

</body>
</html>
{% endblock %}